:root {
    --primary-color: #202020;
    --secondary-color: #303030;
    --hover-color: #232323;
    --bg-color: #111111;
    /* --font-color: #9320ff; */
    /* --heading-color: #8400ff; */
    --font-color: #ff4b4b;
    --heading-color: #FF0000;
    --font-size: medium; 
    --hue-rotate: hue-rotate(95deg);
    --transparent-color: #202020CC;
    --more-transparent-color: #20202088;
}

#movieBanner {
    width: 100%;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-color);
    text-align: center;
}
#movieName {
    width: 100%;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondary-color);
    font-size: calc(var(--font-size)+300%);
    text-align: center;
}
#movieInformations {
    width: 100%;
    min-height: 100px;
    height: max-content;
    text-align: center;
    background-color: var(--primary-color);
}
#movieInformations table {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 5%;
    right:5%;
    width: 90%;
    border-collapse: collapse;
    
}
#movieInformations tr td {
    text-align: left;
    height: 75px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--primary-color);
}
.time2 {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: auto;
}
.time2::after {
    clear: both;
}
.repertoire-time2 {
    background-color: var(--transparent-color);
    color: var(--font-color); 
    width: 50%;
    height: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    border: 1px solid var(--heading-color);
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    overflow: auto;
}
.repertoire-time2:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* ------------------------------------------------------------COMMENTS AND REVIEWS ----------------------------------------- */

#comments {
    position: relative;
    width: 100%;top: 70px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column-reverse;
    
}
#comments-banner {
    position: relative;
    top: 70px;
    text-align: center;
    font-size: calc(var(--font-size)+200%);
    height: 50px;
    background-color: var(--secondary-color);
}

.message {
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
    width: max-content;
    height: 40px;
    padding: 5px 5px 5px 5px;
    background-color: var(--secondary-color);
    border: 1px solid var(--heading-color);
    border-radius: 20px;
    text-align: center;
}
.user {
    width: max-content;
    height: 25px;
    float: left;
    padding: 5px 5px 5px 5px;
    color: var(--heading-color);
}
.comment {
    width: max-content; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}
.comment-date {
    width: max-content; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    font-size: calc(var(--font-size)+70%);
}
#commentinput {
    clear: both;
    position: relative;
    top: 80px;
    display: block;
    max-width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: var(--secondary-color);
    text-align: left;
}
#commentinput input[type=text] {
    height: 15px;
    width: 90%;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}
#commentinput input[type=submit] {
    height: 30px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}

#review {
    position: relative;
    top: 70px;
    height: 50px;
    width: 100%;
    background-color: var(--secondary-color);
}