:root {
  --primary-color: #202020;
  --secondary-color: #303030;
  --hover-color: #232323;
  --bg-color: #111111;
  /* --font-color: #9320ff; */
  /* --heading-color: #8400ff; */
  --font-color: #ff4b4b;
  --heading-color: #FF0000;
  --font-size: medium; 
  --hue-rotate: hue-rotate(95deg);
  --transparent-color: #202020CC;
  --more-transparent-color: #20202088;

}
.loginForm {
    position: absolute;
    left: 20%;
    right: 20%;
    align-self: center;
    width: 60%;
    min-height: 500px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 1px solid var(--heading-color);
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
.loginForm table {
  border-collapse: collapse;
}

.loginForm tr td {
    width: 5%;
}
.addDirector{
    display:none;
}
.day-change {
    height:40px; 
    border-top:1px solid var(--heading-color);
    border-bottom:1px solid var(--heading-color);
    width: 100%;
    text-align:center;
}
.genre {
  width: 40%;
  float: left;
  text-align: left;
  margin-left: 20px;
}