/* :root {
    --primary-color: #202020;
    --secondary-color: #303030;
    --hover-color: #232323;
    --font-color: #9320ff;
    --bg-color: #111111;
    --heading-color: #8400ff;
  } */
/*----------------------------------------------------------- Top Menu -----------------------------------------------------------------------*/
#menuTop {
    background-color: var(--primary-color);
    height: 60px;
    width: 100%; /* 100vw = 100% of view width */
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid var(--heading-color) ;
}
/* Logo */
#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
}
#logo img {
    height: 90%;
    padding-top: 5px;
    -webkit-filter : var(--hue-rotate);
    filter : var(--hue-rotate);
}
/* title */
#title {
    position: absolute;
    left: 60px;
    top: 0px;
    width: 140px;
    height: 60px;
    text-align: center;
}

#title p {
    position: relative;
    top: 25%;
    color: var(--heading-color);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
/* search bar */
#search {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 600px;
    height: 60px;
    text-align: right;
}
#search form {
    position: relative;
    top: 25%;
    height: 25px;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
#search form input[type=text], #search form input[type=submit] {
    height: 100%;
    border: 1px solid var(--heading-color);
    color: var(--font-color);
    background-color: var(--secondary-color);
    
}
#search form input[type=text]:hover, #search form input[type=submit]:hover {
    background-color: var(--hover-color);
}
#search form input[type=submit] {
    border-radius: 20px;
    padding: 5px;
}

#loginMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    text-align: right;
    
}

#loginMenu input[type=button] {
    position: relative;
    top: 0;
    height: 100%;
    width: 150px;
    background-color: var(--secondary-color);
    border: solid 1px var(--heading-color);
    color: var(--font-color);
}
#loginMenu input[type=button]:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

/*----------------------------------------------------------- Left Menu -----------------------------------------------------------------------*/

#menuLeft {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%; /* 100vh = 100% of view height */
    width: 45px;
    padding-top: 10px;
    background-color: var(--primary-color);
    border-right: 1px solid var(--heading-color);
}
#menuLeft .menuLeft {
    height: 50px;
    width: 100%;
    position: sticky;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--hover-color);
    display: flex;
    align-items: center;
}
#menuLeft .menuLeft img {
    -webkit-filter : var(--hue-rotate);
    filter : var(--hue-rotate);
}
#menuLeft .menuLeft:hover {
    width: 200px;
    background-color: var(--hover-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-bottom: 1px solid var(--heading-color); */
    border-right: 1px solid var(--heading-color);
    transition: 0.3s ease-out;
    cursor: pointer;
}
.hide {
    visibility: hidden;
}
.menuLeft:hover > .hide {
    visibility: visible;
    text-align: center;
    color: var(--font-color);
    white-space: nowrap;
}

/*----------------------------------------------------------- Option Panel -----------------------------------------------------------------------*/
#optionBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #20202080;
    visibility: hidden;
}


#optionPanel {
    width: 30%;
    height: 30%;
    border: 1px solid var(--heading-color);
    background-color: var(--primary-color);
    position: fixed;
    text-align: center;
    left: 33%;
    top: 10%;
    width: 400px;
    height: 500px;
    padding: 5px 5px 5px 5px;
    visibility: hidden;
}
#optionPanel h2 {
    color:var(--heading-color);
    font-size: var(--font-size);
}

#optionPanel #close {
    position: flex;
    float: right;
    width: 20px;
    height: 20px;
    color: var(--font-color);
    cursor: pointer;
    align-items: center;
    text-align: center;
    border: 1px solid var(--heading-color);
    border-radius: 100%;
    background-color: var(--secondary-color);
}

#optionPanel #options {
    width: 100%;
    height: 100%;
    clear: both;
    color: var(--font-color);
    padding: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#optionPanel #options h3 {
    font-size: var(--font-size);
    margin-top: 10px;
    clear: both;
    float: left;
}

#optionPanel #themeSelect {
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--heading-color);
    color: var(--font-color);
    height: 30px;
    width: 130px;
}
#optionPanel #FontSizeSelect {
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--heading-color);
    color: var(--font-color);
    height: 30px;
    width: 130px;
}

#optionPanel #saveButton {
    clear: both;
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: var(--bg-color);
    border: 1px solid var(--heading-color);
    color: var(--font-color);
    height: 30px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
}
