:root {
  --primary-color: #202020;
  --secondary-color: #303030;
  --hover-color: #232323;
  --font-color: #9320ff;
  --bg-color: #111111;
  --heading-color: #8400ff;
}

html[data-theme="light"] {
  --primary-color: #edd9ff;
  --secondary-color: #dbb2ff;
  --hover-color: #f2e4ff;
  --font-color: #9320ff;
  --bg-color: #fbf7ff;
  --heading-color: #8400ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.noselect { /* klasa dla obiektow niezaznaczalnych */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

body {
    background-color: var(--bg-color);
    padding-left: 50px;
    padding-top:  60px;
}
a {
  text-decoration: none;
}


