:root {
  --primary-color: #202020;
  --secondary-color: #303030;
  --hover-color: #232323;
  --bg-color: #111111;
  /* --font-color: #9320ff; */
  /* --heading-color: #8400ff; */
  --font-color: #ff4b4b;
  --heading-color: #FF0000;
  --font-size: medium; 
  --hue-rotate: hue-rotate(95deg);
}
html[data-theme="dark-violet"] {
  --primary-color: #202020;
  --secondary-color: #303030;
  --hover-color: #232323;
  --bg-color: #111111;
  --font-color: #9320ff;
  --heading-color: #8400ff;
  --hue-rotate: hue-rotate(0deg);
}

html[data-theme="light"] {
  --primary-color: #edd9ff;
  --secondary-color: #dbb2ff;
  --hover-color: #f2e4ff;
  --font-color: #9320ff;
  --bg-color: #fbf7ff;
  --heading-color: #8400ff;
  --hue-rotate: hue-rotate(0deg);
}

html[data-theme="dark-contrast"] {
  --primary-color: #3b3b3b;
  --secondary-color: #555555;
  --hover-color: #454545;
  --font-color: #9320ff;
  --bg-color: #111111;
  --heading-color: #8400ff;
}

html[data-theme="light-contrast"] {
  --primary-color: #edd9ff;
  --secondary-color: #dbb2ff;
  --hover-color: #f2e4ff;
  --font-color: #9320ff;
  --bg-color: #00ff0d;
  --heading-color: #8400ff;
}
html[data-size="small"] {
  --font-size: small;
}
html[data-size="medium"] {
  --font-size: medium;
}
html[data-size="large"] {
  --font-size: large;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}


.noselect { /* klasa dla obiektow niezaznaczalnych */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

body {
    background-color: var(--bg-color);
    padding: 80PX 20PX 20PX 65px;
}
a {
  text-decoration: none;
}


