:root {
    --primary-color: #202020;
    --secondary-color: #303030;
    --hover-color: #232323;
    --bg-color: #111111;
    /* --font-color: #9320ff; */
    /* --heading-color: #8400ff; */
    --font-color: #ff4b4b;
    --heading-color: #FF0000;
    --font-size: medium; 
    --hue-rotate: hue-rotate(95deg);
    --transparent-color: #202020CC;
    --more-transparent-color: #20202088;
  
  }
#repertoire-top {
    position: relative;
    text-align: center;
    overflow: auto;
    background-color: var(--primary-color);
    width: 100%;
    height: 450px;
}

#repertoire-header {
    position:relative;
    overflow:visible;
    top: 100px;
    left: 33%;
    width: 33%;
    height: 150px;
    text-align: center;
    color:  var(--heading-color);
}

#repertoire-header h1 {
    font-size: calc(var(--font-size)+500%);
}

#repertoire-days {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
}

.repertoire-day {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    font-size: calc(var(--font-size)+200%);
    color: var(--font-color);
}
.repertoire-day:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.repertoire-day::after {
    clear: both;
}
.repertoire-active {
    background-color: var(--primary-color);
}
/* -------------------------------------------------- Localisation -------------------------------------------- */

#localisation {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100px;
}
#localisation .element, .element1 {
    position: static;
    
    display: grid;
    align-items: center;
    float: left;
    color: var(--font-color);
    font-size: calc(var(--font-size)+150%);
    height: 100%;
}
.element {
    text-align: right;
    width: 33%;
}
.element1 {
    text-align: left;
    width: 33%;
}
#localisation::after {
    clear: both;
}
.element1 select, input[type=submit] {
    position: relative;
    bottom: 0px;
    margin-left: 10px;
    left: 0px;
    background-color: var(--secondary-color);
    border: 1px solid var(--heading-color);
    color: var(--font-color);
    border-radius: 20px;
}
.element1 select {
    width: 100%;
}
.element1 input[type=submit] {
    width: 50%;
    left: 10px;
}

/* --------------------------------------------------Repertoire Bottom -------------------------------------------- */

#repertoire-bottom {
    position: relative;
    top: 50px;
    width: 100%;
    background-color: var(--primary-color);
}
.repertoireList {
    display: none;
}
.repertoire-date {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
    padding-top: 20px;
    font-size: calc(var(--font-size)+200%);
}

.repertoire {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.repertoire-info-background {
    position: absolute;
    background-color: var(--more-transparent-color);
    width: 100%;
    height: 500px;
}
.repertoire-movie-title {
    background-color: var(--transparent-color);
    color: var(--font-color);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 33%;
    border-radius: 50px;
    border: 1px solid var(--heading-color);
    text-align: center;
    position: relative;
    left: 25px;
    top: 25px;
}
.repertoire-movie-tag {
    color: var(--font-color);
    height: 30px;
    width: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    top: 40px;
    left: 25px;
}

.repertoire-genre {
    vertical-align: middle;
    display: inline-block;
    min-width: 20%;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid var(--heading-color);
    background-color: var(--transparent-color);
}
.repertoire-genre::after {
    clear: both;
}

.repertoire-length {
    background-color: var(--transparent-color);
    color: var(--font-color); 
    width: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    border: 1px solid var(--heading-color);
    text-align: center;
    position: relative;
    top: 65px;
    margin-top: 5px;
    left: 25px;
}

.repertoire-time {
    background-color: var(--transparent-color);
    color: var(--font-color); 
    width: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    border: 1px solid var(--heading-color);
    text-align: center;
    position: relative;
    top: 100px;
    margin-top: 5px;
    margin-left: 10px;
    left: 30px;
    float: left;
}
.repertoire-time:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}
.repertoire-trailer {
    width: 700px;
    float: right;
    position: absolute;
    top: 25px;
    right: 25px;
}
.repertoire-trailer video {
    width: 700px;
    height: 400px;
}
.repertoire-trailer::after {
    clear: both;
}
